.h-container{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.h-artists-wrapper{
  height: min(90vh);
  max-width: 90%;
  width: 900px;
  margin: auto;
  display: flex; 
  border-radius: 10px;
  box-shadow: 0 0  20px 3px rgb(0, 0, 0);
  background-color: rgb(224, 232, 250);
}
.h-artists-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem ;
  overflow:auto;
  }
  .h-artists-section :hover{
    transform: scale(1.02);
   
  }
.h-artist{
  display: flex;
  border-radius: 7px;
  background: rgba(213, 229, 242, 1.0);
  background: -webkit-linear-gradient(top left, rgba(213, 229, 242, 1.0), rgb(69, 87, 169));
  background: -moz-linear-gradient(top left, rgba(213, 229, 242, 1.0), rgb(64, 78, 143));
  background: linear-gradient(to bottom right, rgba(213, 229, 242, 1.0), rgb(67, 83, 153));
  align-items: center;
  cursor: pointer!important;
  height: 150px;
  max-height: 80%;
  width: 100%;
  padding-left: 20px;
  gap: 10px;
  font-size: large;
  color: rgb(0, 0, 0);
  text-decoration:none ; 
  box-shadow: 0 0  10px 2px rgb(0, 0, 0);
}

.h-artist-stats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.h-img{
  display: flex; 
  cursor: pointer!important;
  width: 100px;
  height: 100px; 
}
.h-artist-name{
  border-bottom: 2px solid black;
}
@media screen and (max-width: 1200px) {
  .artists-wrapper{
  height: min(70vh, 50rem);
      width: 80%!important;
      height: 75%;
      zoom: 0.8;
  }
}
@media screen and (max-width: 942px) {
  .artists-wrapper{
  height: min(70vh);

      width: 80%!important;
      height: 75%;
      zoom: 0.5;
  }
  
}
